<secton class="block container">
    <header class="block__header">
      <h2 class="block__heading ">Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, officia.</p>
    </header>
    <div style="width: 30%; padding: 4rem">
      <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Rerum quo odit similique totam adipisci accusantium exercitationem ipsa qui eligendi obcaecati quas architecto distinctio debitis aliquid, quibusdam eveniet nobis velit molestias?
        </div>
      </div>
   </secton>
   <secton class="block block--dark block--skewed-left">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, officia.</p>
    </div>
   </secton><secton class="block container">
  <header class="block__header">
    <h2 class="block__heading ">Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, officia.</p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Rerum quo odit similique totam adipisci accusantium exercitationem ipsa qui eligendi obcaecati quas architecto distinctio debitis aliquid, quibusdam eveniet nobis velit molestias?
      </div>
    </div>
 </secton>
 <secton class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, officia.</p>
  </div>
 </secton>